aiofiles==24.1.0
alembic==1.18.3
alphalens-reloaded==0.4.6
altair==6.0.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
appdirs==1.4.4
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asttokens==3.0.1
async-lru==2.1.0
attrs==25.4.0
babel==2.17.0
backports.zstd==1.3.0
bcolz-zipline==1.13.0
beautifulsoup4==4.14.3
bleach==6.3.0
blinker==1.9.0
blis==1.3.3
blosc2==4.0.0
Bottleneck==1.6.0
Brotli==1.2.0
cached-property==1.5.2
cachetools==7.0.5
catalogue==2.0.10
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
cloudpathlib==0.23.0
cloudpickle==3.1.2
comm==0.2.3
confection==1.3.3
contourpy==1.3.3
curl_cffi==0.13.0
cycler==0.12.1
cymem==2.0.13
debugpy==1.8.20
decorator==5.2.1
defusedxml==0.7.1
empyrical-reloaded==0.5.12
exceptiongroup==1.3.1
exchange_calendars==4.13
executing==2.2.1
fastai==2.7.17
fastapi==0.135.2
fastcore==1.7.27
fastdownload==0.0.7
fastjsonschema==2.21.2
fastprogress==1.0.3
ffmpy==1.0.0
filelock==3.20.3
fonttools==4.61.1
fqdn==1.5.1
frozendict==2.4.7
fsspec==2026.3.0
gitdb==4.0.12
GitPython==3.1.46
gmpy2==2.2.1
gradio==6.10.0
gradio_client==2.4.0
greenlet==3.3.1
groovy==0.1.2
h11==0.16.0
h2==4.3.0
h5py==3.15.1
hf-gradio==0.3.0
hf-xet==1.4.2
hpack==4.1.0
html5lib==1.1
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.8.0
hyperframe==6.1.0
idna==3.11
importlib_metadata==8.7.0
intervaltree==3.2.1
ipykernel==7.1.0
ipython==9.10.0
ipython_pygments_lexers==1.1.1
iso3166==2.1.1
iso4217==1.15.20260101
isoduration==20.11.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.3
json5==0.13.0
jsonpointer==3.0.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_server==2.17.0
jupyter_server_terminals==0.5.4
jupyterlab==4.5.3
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
kiwisolver==1.4.9
korean-lunar-calendar==0.3.1
lark==1.3.1
lru-dict==1.4.1
lxml==6.0.2
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
matplotlib-inline==0.2.1
mdurl==0.1.2
mistune==3.2.0
mpmath==1.3.0
msgpack==1.1.2
multipledispatch==1.0.0
multitasking==0.0.12
munkres==1.1.4
murmurhash==1.0.15
narwhals==2.18.1
nbclient==0.10.4
nbconvert==7.17.0
nbformat==5.10.4
ndindex==1.10.1
nest_asyncio==1.6.0
networkx==3.6.1
notebook_shim==0.2.4
numexpr==2.14.1
numpy==2.4.2
orjson==3.11.7
overrides==7.7.0
packaging==26.0
pandas==2.3.3
pandocfilters==1.5.0
parso==0.8.5
patsy==1.0.2
peewee==3.17.3
pexpect==4.9.0
pillow==12.1.0
pip==26.0
platformdirs==4.5.1
plotly==6.6.0
preshed==3.0.13
prometheus_client==0.24.1
prompt_toolkit==3.0.52
protobuf==6.31.1
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyarrow==23.0.1
pycparser==2.22
pydantic==2.12.5
pydantic_core==2.41.5
pydeck==0.9.1
pydub==0.25.1
pyfolio-reloaded==0.9.9
Pygments==2.19.2
pyluach==2.3.0
pyparsing==3.3.2
PySide6==6.10.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
python-multipart==0.0.22
pytz==2025.2
PyYAML==6.0.3
pyzmq==27.1.0
referencing==0.37.0
requests==2.32.5
rfc3339_validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.3.3
rpds-py==0.30.0
safehttpx==0.1.7
scikit-learn==1.8.0
scipy==1.17.0
seaborn==0.13.2
semantic-version==2.10.0
Send2Trash==2.1.0
setuptools==80.10.2
shellingham==1.5.4
shiboken6==6.10.2
six==1.17.0
smart_open==7.5.1
smmap==5.0.3
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8.3
spacy==3.8.13
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.46
srsly==2.5.3
stack_data==0.6.3
starlette==0.52.1
statsmodels==0.14.6
streamlit==1.56.0
sympy==1.14.0
ta-lib==0.6.4
tables==3.10.2
tenacity==9.1.4
terminado==0.18.1
thinc==8.3.13
threadpoolctl==3.6.0
tinycss2
toml==0.10.2
tomli==2.4.0
tomlkit==0.13.3
toolz==1.1.0
torch==2.4.0
torchaudio==2.4.0
torchvision==0.19.0
tornado==6.5.4
tqdm==4.67.3
traitlets==5.14.3
triton==3.0.0
typer==0.24.0
typer-slim==0.24.0
typing_extensions==4.15.0
typing-inspection==0.4.2
typing_utils==0.1.0
tzdata==2025.3
ujson==5.12.0
unicodedata2==17.0.0
uri-template==1.3.0
urllib3==2.6.3
uvicorn==0.42.0
wasabi==1.1.3
watchdog==6.0.0
wcwidth==0.5.3
weasel==1.0.0
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
websockets==16.0
wheel==0.46.3
wrapt==2.1.2
yfinance==1.1.0
zipline-reloaded==3.1.1
zipp==3.23.0
